
@{
    ViewData["Title"] = "Index";
}
<style>
    p{
        color:red;
    }
</style>

<h4>Transient Service</h4>
<p>Always returns the new instance when you clik on refresh button</p>

@ViewBag.TransientMessage1
<br/>
@ViewBag.TransientMessage2
<br /><br />

<h4>Scoped Service</h4>
<p>Instance is created only once per request and shared across the request.
    New ids are generated,when you click on refresh button
</p>

@ViewBag.ScopedMessage1 
<br/>
@ViewBag.ScopedMessage2<br />
<br /><br />

<h4>Singleton Service</h4>
<p>Only once instance is created and shared across the application.Click on Refresh
    button,the ids will remain the same
</p>

@ViewBag.SingletonMessage1  
<br/>
@ViewBag.SingletonMessage2

